body{
    font-family: Franklin Gothic Medium, sans-serif;
    color: #fff;
    background-color:#0A64A4 ;
    font-size:24px;
}
.header{
    background: #6B8BC2;
}
.calc{
    background:#c45238;
    border: 2px solid black;
    border-radius: 25px;
}
h1{
    font-size:34px;
}
a{
    color:#fff;
    font-size:28px;
    text-decoration: none;
}
a:visited{
    color:black;
}
a:hover{
    color: blue;
    text-decoration:underline;
}
img{
    width: 100%;
    max-width: 400px;
}
.logo{
    width:70px;
}
.navigation{
    background:#c45238;
    border: 2px solid black;
    border-radius: 100px/100px;
}
.main_part{
    background: #c45238;
    border: 2px solid black;
    border-radius: 25px;
}
.footer{
    background:#6B8BC2;
    height:60px;
}
.form{
    text-align: center;
    background: #c45238;
    font-size:18px;
    border: 2px solid black;
    border-radius: 15px 100px 15px 100px;
}
.table{
    background: #c45238;
    border: 2px solid black;
    border-radius: 25px;
}
table{
    font-size:16px;
}
h2{
    font-size:30px;
}
tbody tr:nth-child(even){
    background-color:rgb(218, 12, 218);
}
tbody tr:nth-child(odd){
    background-color:rgb(1, 170, 170);
}
